DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_PORT=5432
DB_HOST=postgres

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=your_database_connstring
GOOSE_MIGRATION_DIR=./migrations

DB_NAME_REDIS=your_db_redis_number
REDIS_HOST=redis
REDIS_PORT=6379

APP_PORT=8080